.booking_body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-image: url(https://s3.ap-south-1.amazonaws.com/zo-static/website/img/booknow_bg.png);
justify-content: center;
align-items: center;
}
.booking_heading{
  color: white;
  font-family: 'Pacifico', cursive;

}
.booking_content{
  width: 300px;
  display: flex;
margin: 10px;
  flex-direction: column;
  background-color: #1a2d3b56;
  align-items: center;
}
.form_input{
  margin: 10px 10px;

}

