.card{
  display: flex;
  width: 50%;
  flex-direction: row;
  margin: 10px;
  height: 250px;
}
.card_img{

  
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 10px;
}
.card_img img{
  padding-top: 10px;
width: 200px;
height: 230px;
object-fit: cover;

}
.card_content{
  padding: 16px;
  font-family: 'Indie Flower', cursive;
}
