.card{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px;
  height: 250px;
  font-family: 'Indie Flower', cursive;
}
.card_img{
height: 230px;
margin: 8px 0;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 10px;
}
.card_img img{
  padding-top: 10px;
width: 200px;
height: 230px;
object-fit: cover;
}
.card_content{
  padding: 16px;

}
.Card_Bottom{
  
  position: absolute;
  bottom: 20px;
  left: 50%;

}
.Card_Bottom button{
  width: 200px;
  background-color: #02223c;
  color: white;
  font-weight: 600;
  text-align: center;
  height: 35px;
}
.Card_Bottom button:hover{
  background-color: white;
  color: #02223c;
}
