.carousel {
  border-radius: 5px;
  width: 99%;
  position: relative;
  margin: 4px;
}
.carousel_content {
  height: 700px;
  width: 100vw;
  margin: 5px 0;
}
.carousel_content img {
  object-fit: cover;
  transition: opacity 0.75s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 750px;
  padding: 10px 0 0 16px;
}
.text_div {
  color: #ffffff;
  margin-left: 1%;
  position: absolute;
  top: 28%;
  left: 51%;
  transform: translate(-50%, 30%);

  font-family: "Dancing Script", cursive;
  -webkit-text-stroke: #250b07;
}
.div_headlight {
  -webkit-text-stroke: #250b07;
  font-size: 80px;
  font-weight: bolder;
  text-shadow: 2px 5px 10px #250b07;
}
