.Navbar{
  width: 100vw;
  height: 90px;
  background-color: #02223c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  font-family: 'Caveat', cursive;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 40px;
  
}
.nav_logo{
  flex: 1;
  
}
.nav_logo h4{
  cursor: pointer;
  font-family: 'Pacifico', cursive;
   /* color: yellowgreen; */
 

}
.nav_content{
  display: flex;
  flex: 3;
  justify-content: space-around;
  text-align: center;
}
.nav_content span{
  cursor: pointer;
  font-weight: 600;
}
.login_span{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  margin: -2px;
}
.login_span:hover{
  background-color:#e2cbb3c2 ;
}
.login_dropdown{
  position: absolute;
  right: 25px;
  width: 100px;
  margin: 5px;
  height: 62px;
  background-color: #02223c;

  border-radius: 5px;
}
.dropdown_content{
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.dropdown_content span{
  font-weight: 600;
  padding: 1px;
  cursor: pointer;
}
.dropdown_content span:hover{
 color:#e2cbb3c2 ;
}